<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Lançamentos</h1>
    </div>

    <form autocomplete="off" (submit)="pesquisar()">
      <div class="ui-g-12 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" [(ngModel)]="filtro.descricao">
      </div>

      <div class="ui-g-12">
        <label style="display: block">Vencimento</label>

        <p-calendar format="dd/mm/yyyy" [inputStyle]="{ width: '95px'}" name="vencimentoDe"
                    [(ngModel)]="filtro.dataVencimentoDe"></p-calendar>
        <label>até</label>
        <p-calendar format="dd/mm/yyyy" [inputStyle]="{ width: '95px'}" name="vencimentoAte"
                    [(ngModel)]="filtro.dataVencimentoAte"></p-calendar>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <app-lancamentos-grid [lancamentos]="lancamentos"></app-lancamentos-grid>
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Novo Lançamento"></button>
    </div>
  </div>
</div>
